@model VertoExcercise.Models.ImageTitles
@{
    ViewData["Title"] = "Index";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
    }
</style>
<div id="content">

    <h3>@Model.SimilarTitles.LongCount() image strings compared</h3>
    <b>Url is @Model.SearchQuery</b>
    <table>
        <tr>
            <th>First Image Title</th>
            <th>Second Image Title</th>
            <th>Levenshtein Distance</th>
        </tr>
        @foreach (var titles in Model.SimilarTitles)
        {
            <tr>
                <td>@titles.S</td>
                <td>@titles.T</td>
                <td >@titles.Distance</td>
            </tr>
        }
    </table>

</div>